<a href="https://colab.research.google.com/github/GGpark1/python_study/blob/master/%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D_%EB%B0%98%EB%B3%B5%EB%AC%B8_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 정규표현식

In [1]:
import re

In [7]:
# 첫번째 인자와 같은 값을 가지고 있는 객체를 반환
# '.'에는 어떤 텍스트가 위치하여도 상관없음('.'은 모든 문자를 의미함)
# search는 문자열의 아무 곳에서나 첫번째 인자와 일치하는지 확인함

wordlist = ["color", "colour", "work", "working", "fox", "worker", "working"]

for word in wordlist:
    if re.search('col.r', word):
        print(word)

color

In [15]:
# match는 문자열의 시작 부분에서만 일치를 검사함
# span : 매치된 문자열의 (시작, 끝)에 해당하는 튜플을 돌려줌
# group : 매치된 문자열을 돌려줌
# <.*> : '<'으로 시작하고 '>'으로 끝나는 문자열이며, <> 안의 값은 어떤 문자든 상관없음('*'은 모든 문자가 반복될 수 있다는 의미)

regular_expressions = '<html><head><title>Title</title>'
print(len(regular_expressions))

print(re.match('<.*>', regular_expressions).span())
print(re.match('<.*>', regular_expressions).group())

32
(0, 32)
<html><head><title>Title</title>

In [16]:
# compile : 정규식 패턴을 정규식 객체로 컴파일함(하나의 변수로 저장함)
# VERBOSE : 주석처리가 가능하게 함. re.VERBOSE 옵션을 사용하면 문자열에 사용된 화이트스페이스가 제거되고 #기호를 사용하여 주석문을 사용할 수 있음

phone = re.compile("""
010-    # 핸드폰 앞자리 
\d{4}-  # 중간자리
\d{4}  # 뒷자리
""", re.VERBOSE)

In [20]:
phone = re.compile("010-\d{4}-\d{4}")

In [24]:
info = ['홍길동 010-1234-1234', '고길동 010-5678-5679']

for text in info:
    match_info = phone.search(text) #list 내의 객체를 하나씩 input하여 정규식 'phone'과 일치하는 문자열을 저장함
    print(match_info.group()) #매치되어 저장된 문자열을 반환함

홍길동 010-1234-1234
010-1234-1234
고길동 010-5678-5679
010-5678-5679

In [25]:
#'\r' : 반환하는 문자의 활성 위치를 현재 라인의 시작 위치를 옮기는 역할

print("     \rHello")
print("     Hello")

Hello
     Hello

In [26]:
# 문자열 앞에 'r'을 입력하면 정규표현식을 적용하지 않고 raw string이 그대로 출력됨
# json, html과 같은 문서와 파일 경로에서 슬래시가 자주 사용되는데, 이때 문자열 그대로 사용하고자 할 때 주로 사용됨

print('raw string을 사용하지 않고고\b 문자 출력하기')
print(r'raw string을 사용하지 않지 않고고\b 문자 출력하기')

# 파일 경로 출력하기
print('C:\programs\nayana')
print('C:\\programs\\nayana')
print(R'C:\programs\nayana')

raw string을 사용하지 않고고 문자 출력하기
raw string을 사용하지 않지 않고고\b 문자 출력하기
C:\programs
ayana
C:\programs\nayana
C:\programs\nayana

In [29]:
#rjust의 첫 번째 인자로 들어온 숫자만큼의 길이를 가진 str이 반환됨
#적용할 str의 오른쪽에 두번째 인자로 들어온 str이 부족한 lenght를 채움

print("2".rjust(3,"0"))
print("abc".rjust(4, "#"))

002
#abc

In [30]:
# 적용할 str을 포함하여 zfill 인자 수의 길이만큼 0으로 채움

print("2".zfill(3))

002

In [31]:
# slicing

string_ = "Hello, I am Jack and I am a data scientist"
print(string_)
print(string_[1])

Hello, I am Jack and I am a data scientist
e

In [33]:
#화이트스페이스 단위로 문자열을 split함

string_list = string_.split(" ")
string_list

['Hello,', 'I', 'am', 'Jack', 'and', 'I', 'am', 'a', 'data', 'scientist']

### 정규표현식과 사용하기 좋은 메소드

In [35]:
#문자열이 'Hello'로 시작하면 True

string_.startswith('Hello')

True

In [36]:
string_.endswith('scientist')

True

In [38]:
string_.endswith('tist')

True

In [39]:
# 첫번째 인자에 해당하는 str을 두번째 인자로 replace

print(string_.replace("Jack", "John"))
print(string_)

Hello, I am John and I am a data scientist
Hello, I am Jack and I am a data scientist

In [41]:
#얕은 복사

fruits = {"apple", "banana", "cherry"}
fruits_copy = fruits.copy()
fruits_copy

{'apple', 'banana', 'cherry'}

In [48]:
a = {'a': 5, 'b': 4, 'c': 8}
b = a
del b['a']

print(a)
print(b)

{'b': 4, 'c': 8}
{'b': 4, 'c': 8}

In [51]:
#깊은 복사

import copy

a = {'a': 5, 'b': 4, 'c': 8}
b = copy.copy(a)
del b['a']
print(b)
print(a)

{'b': 4, 'c': 8}
{'a': 5, 'b': 4, 'c': 8}

In [52]:
list_var = [[1,2],[3,4]]
list_var_deepcopy = copy.deepcopy(list_var)
list_var_copy = list_var.copy()

In [53]:
list_var[1].append(5)

In [54]:
# 원래 변수

print(list_var)

[[1, 2], [3, 4, 5]]

In [55]:
# deepcopy : 원래 변수의 변화에 영향받지 않음

print(list_var_deepcopy)

[[1, 2], [3, 4]]

In [56]:
# copy : 원래 변수의 변화에 영향을 받음

print(list_var_copy)

[[1, 2], [3, 4, 5]]

## 반복문과 조건문

In [57]:
#index를 활용한 list 호출

data = [90, 45, 32, 44]
for i in range(len(data)):
    print(data[i])

90
45
32
44

In [58]:
# dictionary key를 반환

mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data:
    print(x)

id
first_name
last_name
email
gender
ip_address

In [59]:
# dictionary key를 반환

mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.keys():
    print(x)

id
first_name
last_name
email
gender
ip_address

In [60]:
# dictionary value를 반환

mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.values():
    print(x)

1
states
code
code@states.com
Female
123.123.123.23

In [61]:
# dictionary의 item을 튜플형태로 반환

mock_data = {
  "id": 1,
  "first_name": "states",
  "last_name": "code",
  "email": "code@states.com",
  "gender": "Female",
  "ip_address": "123.123.123.23"
}

for x in mock_data.items():
    print(x)

('id', 1)
('first_name', 'states')
('last_name', 'code')
('email', 'code@states.com')
('gender', 'Female')
('ip_address', '123.123.123.23')

In [65]:
# tuple unpacking

for k,v in mock_data.items():
    print(k, v)

id 1
first_name states
last_name code
email code@states.com
gender Female
ip_address 123.123.123.23

In [66]:
# range를 활용한 반복문 활용

a = [1,2,3,4,5]
b = [10,20,30,40,50]

for i in range(len(a)):
    print(a[i], b[i])

1 10
2 20
3 30
4 40
5 50

In [68]:
# zip 함수 활용
# 두 list 내의 객체를 같은 인덱스끼리 묶어줌

a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = zip(a,b) #class 메소드로 저장
print(list(c))

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [71]:
# 반복문과 zip 활용

a = [1,2,3,4,5]
b = [10,20,30,40,50]
c = [100,200,300,400,500]

for x,y,z in zip(a,b,c): #튜플로 저장하기를 원하면 변수 하나에 저장
    print(x,y,z)

1 10 100
2 20 200
3 30 300
4 40 400
5 50 500

In [72]:
# break : 조건이 충족되면 if문을 break

IntCollection=[0,1,2,3,4,5,6,7]
for x in IntCollection:
    if(x==3):
        break
    else:
        print(x)

0
1
2

In [73]:
# continue : 조건이 충족되는 변수를 연산하지 않고 해당 부분만 건너뜀

for x in IntCollection:
    if(x==3):
        continue
    else:
        print(x)

0
1
2
4
5
6
7

In [77]:
# index로 element에 접근하여 함수를 적용

list_ = [1,2,3,4,5]

def foo(list_):
    print(list_)

print('foo(list_[i])')

for i in range(len(list_)):
    foo(list_[i])

foo(list_[i])
1
2
3
4
5

In [78]:
# element에 직접 접근하여 함수를 적용

print('foo(element)')
for element in list_:
    foo(element)

foo(element)
1
2
3
4
5