<a href="https://colab.research.google.com/github/GGpark1/python_study/blob/master/%EC%BB%AC%EB%A0%89%EC%85%98_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1000 ~ 2199 사이의 숫자 중 7의 약수이면서 5의 약수가 아닌 숫자 찾기

my_list = []
for i in range(1000, 2200):
    if (i%7 == 0) and (i%5 != 0):
        my_list.append(str(i))

print(','.join(my_list)) # ','로 my_list 내 객체를 연결하여 출력

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [5]:
# append와 같은 기능을 insert를 활용하여 구현

my_list = []
for i in range(1000, 2200):
    if (i%7 == 0) and (i%5 != 0):
        my_list.insert(len(my_list), str(i))

print(','.join(my_list))

1001,1008,1022,1029,1036,1043,1057,1064,1071,1078,1092,1099,1106,1113,1127,1134,1141,1148,1162,1169,1176,1183,1197,1204,1211,1218,1232,1239,1246,1253,1267,1274,1281,1288,1302,1309,1316,1323,1337,1344,1351,1358,1372,1379,1386,1393,1407,1414,1421,1428,1442,1449,1456,1463,1477,1484,1491,1498,1512,1519,1526,1533,1547,1554,1561,1568,1582,1589,1596,1603,1617,1624,1631,1638,1652,1659,1666,1673,1687,1694,1701,1708,1722,1729,1736,1743,1757,1764,1771,1778,1792,1799,1806,1813,1827,1834,1841,1848,1862,1869,1876,1883,1897,1904,1911,1918,1932,1939,1946,1953,1967,1974,1981,1988,2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198

In [6]:
words = []
while True:
    char = input()
    if char:
        words.append(char.upper())
    else:
        break;

for word in words:
    print(word)

x
y
z

X
Y
Z

In [12]:
import pdb

In [14]:
# 100 ~ 299
# 200 단위 중 짝수 숫자 찾기

values = []
for i in range(100, 300):
    char = str(i)
    #pdb.set_trace()

    if (int(char[0]) % 2 == 0) and (int(char[2]) % 2 == 0):
        values.append(char)

print(",".join(values))

200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298

In [17]:
list_1 = ['bread', 'meat']
list_2 = ['Lettuce', 2, 5]
list_1.extend(list_2)

print('list1: {}, list2: {}'.format(list_1, list_2))

list1: ['bread', 'meat', 'Lettuce', 2, 5], list2: ['Lettuce', 2, 5]

In [20]:
# append와 extend 두 메소드의 차이점에 주의하자

# '리스트' 추가  
flavors1 = ['Vanilla', 'Chocolate']
flavors1.append(['Strawberry', 'MintChocolate'])
print(flavors1)

flavors2 = ['Vanilla', 'Chocolate']
flavors2.extend(['Strawberry', 'MintChocolate'])
print(flavors2)


# '문자열' 추가
flavors3 = ['Vanilla', 'Chocolate','Strawberry']
flavors3.append('MintChocolate')
print(flavors3)

flavors4 = ['Vanilla', 'Chocolate','Strawberry']
flavors4.extend('MintChocolate')
print(flavors4)

['Vanilla', 'Chocolate', ['Strawberry', 'MintChocolate']]
['Vanilla', 'Chocolate', 'Strawberry', 'MintChocolate']
['Vanilla', 'Chocolate', 'Strawberry', 'MintChocolate']
['Vanilla', 'Chocolate', 'Strawberry', 'M', 'i', 'n', 't', 'C', 'h', 'o', 'c', 'o', 'l', 'a', 't', 'e']

In [22]:
list1 = [11, 12, 43, 4, 6]
for i in list1.copy():
    if not i % 2: # i % 2이 true가 아니라면(=false=0), 즉 0이라면 해당 element를 list1에서 제거
        list1.remove(i)

print(list1)

[11, 43]

In [23]:
my_list = [1,2,3,4,5]
my_list[0] = 99
print(my_list)

[99, 2, 3, 4, 5]

In [24]:
del my_list[0]
print(my_list)

[2, 3, 4, 5]

In [28]:
my_list = [1, 2, 3, 4, 5]
my_list[0] = 99
print(my_list)

my_list.pop() # 마지막 element를 따로 뺌
print(my_list) # 마지막 element가 제거된 채로 출력

[99, 2, 3, 4, 5]
[99, 2, 3, 4]

In [33]:
# 인자가 위치한 index 출력

my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Index for xyz : ", my_list.index( 'xyz' ))
print("Index for ABC : ",  my_list.index( 'ABC' ))

Index for xyz :  0
Index for ABC :  2

In [34]:
# 인자와 같은 element의 갯수를 출력

my_list = ['xyz', 'XYZ' 'abc', 'ABC']
print("Count for xyz : ",  my_list.count( 'xyz' ))
print("Count for ABC : ",  my_list.count( 'ABC' ))

Count for xyz :  1
Count for ABC :  1

In [38]:
import math

# 이진탐색

def bin_search(li, element):
    bottom = 0
    top = len(li) - 1 # 6
    index = -1 
    while top >= bottom and index == -1:
        mid = int(math.floor((top+bottom) / 2.0)) # 3
        if li[mid] == element: # 9 != 11
            index = mid
        elif li[mid] > element: # 9 < 11
            top = mid - 1
        else:
            bottom = mid + 1
    
    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,102))

4
6

In [40]:
li = [12,24,35,70,88,120]
for (i,x) in enumerate(li):
   if i not in (0,3,5):
     li = x
     print(li)
print(li)

24
35
88
88

In [43]:
def list_update(data):
    new_li=[]
    new_set = set()
    for item in data:
        if item not in new_set:
            new_set.add(item)
            new_li.append(item)

    return new_set, new_li

list_test = [120, 120, 10, 20, 30, 20]
print(list_update(list_test))

({120, 10, 20, 30}, [120, 10, 20, 30])

In [48]:
from operator import itemgetter
l = []
while True:
    s = input()
    if not s:
        break
    l.append(tuple(s.split(",")))

#itemgetter의 index 순서대로 리스트를 정렬함
print(sorted(l, key=itemgetter(0, 1, 2)))

dave,B,10
ajohn, A, 15
jane, B, 12

[('ajohn', ' A', ' 15'), ('dave', 'B', '10'), ('jane', ' B', ' 12')]

In [53]:
# get(keyname, value)
# dictionary value를 1부터 셀 수 있도록 하기

dic = {}
s = input()
for s in s:
    dic[s] = dic.get(s,0) + 1

print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

a

TypeError: ignored

## 람다 함수

In [54]:
define_word = (lambda word1, define : word1 * define)
result = define_word('call_result_', 5)
print(result)

call_result_call_result_call_result_call_result_call_result_

In [60]:
spelling = ["test1", "test2", "test4 test5", "test3"]

# map(X, y) : y 객체의 element를 하나씩 꺼내서 X 함수에 적용

shout_spells = map(lambda item: item + ('!!!'), spelling)

# 리스트형태로 변환
shout_spells_list = list(shout_spells)

# 결과출력
print(shout_spells_list)

['test1!!!', 'test2!!!', 'test4 test5!!!', 'test3!!!']

In [62]:
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']

# 문자열의 길이가 6 이상인 element만 출력

result = filter(lambda member: len(member) > 6, fellowship)

# 리스트형태로 변환
result_list = list(result)

# 결과출력
print(result_list)

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

In [64]:
from functools import reduce

stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']

result = reduce(lambda item1, item2:  item1+item2, stark)

print(result)

robbsansaaryabrandonrickon

In [70]:
# iterable 한 data를 왼쪽에서 오른쪽으로 누적적으로 fuction 의 인자로 넣어 하나의 결과를 반환하는 함수

data = [1, 2, 3, 4, 5]

result = reduce(lambda a, b: a+b, data)

print(result)

15